<?xml version="1.0" encoding="UTF-8" ?>
<serverConfiguration>
    <metaInfo>
        <createdBy>User</createdBy>
        <date>2020-03-09</date>
    </metaInfo>
    <router>
        <routerConfig>
            <clientsPort>888</clientsPort>
            <servicePort>999</servicePort>
            <policy>
                <maxClients>10</maxClients>
                <maxServices>10</maxServices>
            </policy>
        </routerConfig>
        <!--<connTo>
            <ip>localhost</ip>
            <port>999</port>
        </connTo>-->
    </router>
    <service>
        <serviceName>STORAGE_MANAGEMENT</serviceName>
        <clientsPort>1010</clientsPort>
        <policy>
            <maxClients>10</maxClients>
        </policy>
    </service>
    <service>
        <serviceName>TASK_SERVICE</serviceName>
        <clientsPort>1111</clientsPort>
        <policy>
            <maxClients>10</maxClients>
        </policy>
    </service>
    <service>
        <serviceName>ORDER_MANAGEMENT</serviceName>
        <clientsPort>1212</clientsPort>
        <policy>
            <maxClients>10</maxClients>
        </policy>
    </service>
    <certs>
        <keyStore>C:\Users\user\Desktop\skola\BP\Projects\Connections2\src\Resources\keyStore.jks</keyStore>
        <keyStorePass>changeit</keyStorePass>
        <trustStore>C:\Users\user\Desktop\skola\BP\Projects\Connections2\src\Resources\trustStore.jts</trustStore>
        <trustStorePass>changeit</trustStorePass>
    </certs>
    <DBConns>
        <access>
            <use>USER_AUTHENTICATION</use>
            <url>jdbc:h2:tcp://localhost/~/test</url>
            <user>sa</user>
            <password></password>
        </access>
        <access>
            <use>FINGERPRINT_AUTHENTICATION</use>
            <url>jdbc:h2:tcp://localhost/~/test</url>
            <user>sa</user>
            <password></password>
        </access>
        <access>
            <use>EMPLOYEE_MANAGEMENT</use>
            <url>jdbc:h2:tcp://localhost/~/test</url>
            <user>sa</user>
            <password></password>
        </access>
        <access>
            <use>STORAGE_MANAGEMENT</use>
            <url>jdbc:h2:tcp://localhost/~/test</url>
            <user>sa</user>
            <password></password>
        </access>
        <access>
            <use>TASK_MANAGEMENT</use>
            <url>jdbc:h2:tcp://localhost/~/test</url>
            <user>sa</user>
            <password></password>
        </access>
        <access>
            <use>ORDERS_MANAGEMENT</use>
            <url>jdbc:h2:tcp://localhost/~/test</url>
            <user>sa</user>
            <password></password>
        </access>
    </DBConns>


</serverConfiguration>